body, html {
    height: 100%
}
.opening-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/logo.png");
  
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .navbar {
    background-color: transparent !important;
    transition: all 0.75s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .navbar .navbar-toggler-icon{
    background-image:url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(69, 130, 236, 0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important
  }
  .navbar.nav-strict .navbar-toggler-icon{
    background-image:url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important
  }
  .container.main {
    margin-top: 7rem !important
  }
  .navbar.nav-strict {
    z-index: 99999;
    background-color: #4582EC !important;
  }
  .nav-strict a {
    color: #fff!important;
  }
  .navbar .btn {
    margin-right: 10px
  }
  .nav-strict .btn {
    color: #4582EC !important;
    background-color: white !important;
  }
  /* Place text in the middle of the image */
  .opening-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .btn {
    border-radius: 0.3rem;
  }